{% load static %}
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Charmonman|Kodchasan|Dancing+Script|Spirax" rel="stylesheet">

<nav class="navbar bg-light mb-0 mt-0 " id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'homePage' %}"><img src="https://png.icons8.com/doodle/50/000000/home.png" style="height:40px;width:36px;">
      </a>
      <a class="navbar-brand" id="victor" href="{% url 'homePage' %}">NEIGHBOURHOOD
      </a>
    </div>
    <div>
        </div>
    <div class="col-sm-6 col-md-6">
      {% if user.is_authenticated %}

      <!--<li style="font-family: 'Dosis', sans-serif;">-->
        <!--<a href="{%url 'edit_profile'%}">Edit Profile</a>-->
      <!--</li>-->

      <li style="font-family: 'Dosis', sans-serif;font-size:10px;">
        <a href="{% url 'individual_profile_page' user.id %}">Profile</a>
      </li>
                   <li style="font-family: 'Dosis', sans-serif; font-size:10px;">
                    <a href="{%url 'new_project'%}">Post News</a>
                  </li>
      <li style="font-family: 'Dosis', sans-serif;font-size:10px;">
                    <a href="{%url 'new_neighbourhood'%}">Create Neighbourhood</a>
                  </li>

      <li style="font-family: 'Dosis', sans-serif;font-size:10px;">
                    <a href="{%url 'new_business'%}">Create Business</a>
                  </li>

      <li style="font-family: 'Dosis', sans-serif;font-size:10px;">
        <a href="/logout">Logout</a>
      </li>

      {% else %}
      <li style="font-family: 'Dosis', sans-serif;font-size:10px;">
        <a class='btn btn-default' href="/accounts/login">Login</a>
      </li>

      <li style="font-family: 'Dosis', sans-serif;font-size:10px;">
        <a class='btn btn-default' href="/accounts/register">Register</a>
      </li>

{% endif %}
    </div>

    <!-- Adding a search form  -->
    <div class="col-sm-4 col-md-4 navbar-right">

      <form class="navbar-form" role="search" action="{% url 'search_businesses' %}" id="navBarSearchForm">

        <div class="input-group" id="searcharea">
          <input type="text" style="font-family: 'Dosis', sans-serif;font-size:10px;"
                 class="form-control mr-sm-4 w-auto" placeholder="Search Business" name="business">
          <div class="input-group-btn">
            <button class="btn btn-outline-primary my-1 my-sm-0"
                    style="font-family: 'Dosis', sans-serif;font-size:10px;" type="submit">Find</button>
          </div>
        </div>

      </form>

    </div>
    <!-- search form end -->

  </div>
</nav>

<style>
  #searcharea {
    width = 20vw !important;
  }

</style>