{% extends 'base.html' %} {% load static %} {% load bootstrap4%} {% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">
  <div class="jumbotron text-center" style="background-color:white;">
    <h1 class="h1" style="font-family: 'Dosis', cursive; color:blue;font-size:70px;">Neighbourhood</h1>

  </div>
</div>

<div class="container">
  <div class="card mb-3" style="width:40rem;;">
    <div class="card-body">

      <h5 class="card-title" style="font-family: 'Dosis', sans-serif;"><strong>Neighbourhood Name:</strong>
        <br> {{neighbourhood.neighbourhood_name}}
      </h5>
      <p class="card-text" style="font-family: 'Dosis', sans-serif;"><strong>Contact:</strong>
        <br> {{neighbourhood.neighbourhood_location}}
      </p>
         <p class="card-text" style="font-family: 'Dosis', sans-serif;"><strong>Residents Population:</strong>
        <br> {{neighbourhood.population}}
      </p>
    </div>


    </div>
  </div>

<div class="container">
  <div class="col-md-12">
    <div class="footer text-center">
      <ul id="footer1">
        <li>ABOUT US</li>
        <li>SUPPORT</li>
        <li>PRESS</li>
        <li>API</li>
        <li>JOBS</li>
        <li>PRIVACY</li>
        <li>TERMS</li>
        <li>DIRECTORY</li>
        <li>PROFILES</li>
        <li>HASHTAGS</li>
        <li>LANGUAGE</li>
        <br>

        <li style="font-size:10px;"> <strong>© 2018 MELISSA MALALA</strong></li>
      </ul>

    </div>

  </div>
</div>
{% endblock %}