{% extends 'base.html' %}
{% load bootstrap4 %}{% block content %}
<h2>Latest reviews</h2>

{% if latest_review_list %}
<div>
    {% for review in latest_review_list %}
    <div>
        <h4><a href="{% url 'review_detail' review.id %}">
        {{ review.wine.name }}
        </a></h4>
        <h6> Design Rating is {{ review.design_rating }} of 5 by {{ review.user }}</h6>
        <h6> Usability Rating is {{ review.usability_rating }} of 5 by {{ review.user }}</h6>
        <h6> Content Rating is {{ review.content_rating }} of 5 by {{ review.user }}</h6>
        <p>{{ review.comment }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews are available.</p>
{% endif %}
{% endblock %}