a {
  color: #003366;
}

body {
  background-color: white;
}

#victor {
  font-family: 'Dosis', sans-serif;"
  font-size: 30px;
}

li {
  display: inline;
}

li a {
  padding: 20px;
}

#footer1 li {
  padding: 10px;
  font-size: 10px;
}

.itson {
  background-color: white;
  height:auto;
}

#jumbo{
height:200px !important;
}

.w-33 {
    min-width: 33%;
}